div {
  font-family: sans-serif;
  margin: 10px;
  text-align: center;
}

p {
  cursor: pointer;
  margin: 0;
  padding: 20px;
  user-select: none;
}

.green {
  border: 1px solid lime;
}

.red {
  border: 1px solid red;
}